<footer>
  <div class="footer-wrapper site-width">
    <div class="link-list">
      <label>Connect</label>
    </div>
    <div class="link-list">
      <label>Programs</label>
    </div>
    <div class="link-list">
      <label>Developer Consoles</label>
    </div>
    <div class="link-list">
      <label>Explore</label>
    </div>
  </div>
  <div class="footerbar">
    <div class="site-width">
      <span>
        <a href="/TODO-find-update">Terms</a>
        &nbsp; | &nbsp;
        <a href="/TODO-find-update" class="gc-analytics-event"
          data-category="Site-Wide Custom Events" data-label="Footer Privacy Link">Privacy</a>
      </span>
    </div>
  </div>
</footer>
